
[data-testid=stSidebar] {
    background-color: #b9bec7;
}

[data-testid=stImage] {
    display: flex;
    text-align: center;
}

  /* Hide Streamlit Branding */
  #MainMenu {visibility: hidden;}
  footer {visibility: hidden;}
  header {visibility: hidden;}