/* CSS Snippet from W3schools: https://www.w3schools.com/howto/howto_css_contact_form.asp */
.f60 {
  font-size: 60px;
}

.f30 {
  font-size: 30px;
}

.f24 {
  font-size: 24px;
}

.f18 {
  font-size: 18px;
}

.pad-right {
  padding-right: 10%;
}

.job-des {
  font-size: 18px;
  line-height: 0.6;
  border: 1px solid #000;
  padding: 2% 0% 0% 2%;
  box-shadow:
    4px 4px 8px 0px rgba(0, 0, 0, 0.2),
    6px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

.smallcard {
  padding: 1% 1% 1% 1%;
  border: 0.5px solid #000;
  box-shadow:
    4px 4px 8px 0px rgba(0, 0, 0, 0.2),
    1px 1px 2px 0px rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  margin: 0 10px 10px 0; /* Add margin between cards */
}

.cards-container {
  display: flex; /* Make the container a flex container */
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  justify-content: left; /* Center the cards horizontally */
}

[data-testid="stSidebar"] {
  background-color: #b9bec7;
}

.element-container {
  padding: 0% 0% 0% 0%;
}

.stTabs [data-baseweb="tab-list"] button [data-testid="stMarkdownContainer"] p {
  font-size: 24px;
}

input[type="message"],
input[type="email"],
input[type="text"],
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
button[type="submit"]:hover {
  background-color: #45a049;
}

/* Hide Streamlit Branding */
#MainMenu {
  visibility: hidden;
}
footer {
  visibility: hidden;
}
header {
  visibility: hidden;
}
